<div class="container">
    <div class="alert alert-primary text-center" role="alert">
        <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span translate="Em caso de dúvidas entre em contato com" translate-value-footeremail="{{grupo.email}}" translate-value-footertelefone="{{grupo.telefone}}" ></span>.</p>
        <br>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
              <img class="img-responsive" src="images/logo-campanha-2.f482a89d.svg" alt="{{appTitle}}" />
            </div>
          </div>
    </div>    
</div>
